body {
    margin: 0;
    text-align: center;
    background-image: url("./swimmingPoolBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

.header, .container {
    max-width: 60%;
    display: inline-block;
    color: white;
    width: 100%;
    background-color: #ffffff70;
    padding: 0px 8px;
}

.container {
    display: flex;
    width: 60%;
    margin: 0 auto;
    flex-direction: column;
}

.information {
    background-color: white;
    color: black;
    border: 1px solid #000031;
    margin: 10px;
}

.leftAlignText {
    text-align: left;
}

#costsTable {
    margin: 0 auto;
}

.nav-li {
    flex-basis: 20%;
    list-style-type: none;
    background-color: #00002d;
    border-right: 1px solid #f7792c;
    border-left: 1px solid #f7792c;
    text-align: center;
    margin: 0
}

.nav-li:first-of-type {
    border-left: 2px solid #f7792c;
}

.nav-li:last-of-type {
    border-right: 2px solid #f7792c;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    overflow: auto;
    padding: 8px 0px !important;
}

.nav-li a {
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

.active {
    background-color: #000088;
  }