@import "./nav.css";

body {
    margin: 0;
    text-align: center;
    background-image: url("../swimmingPoolBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    line-height: 1.7em;
}

.header, .container {
    max-width: 60%;
    display: inline-block;
    color: white;
    width: 100%;
    background-color: #ffffff70;
    padding: 0px 8px;
}

.container {
    display: flex;
    width: 60%;
    margin: 0 auto;
    flex-direction: column;
}

.information {
    display: flex;
    background-color: white;
    color: black;
    border: 1px solid #000031;
    margin: 10px;
    flex-direction: column;
    padding: 5px;
}

.leftAlignText {
    text-align: left;
    display: inline-block;
    margin: 0 auto;
}

#costsTable {
    margin: 0 auto;
}

.infoContainer {
    display: flex;
    
}

.infoContainer:last-of-type {
    flex-direction: column;
    max-width: fit-content;
    margin: 0 auto;
}

#generalInfo {
    flex-basis: 50%;
}

#timesFacilities {
    flex-basis: 50%;
}